#cover-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Minecraft pro pic.png");
	background-repeat: no-repeat;
	background-size: auto 450px;
	background-position: center;
	height: 450px;
}

#cover-img-container {
	background-color: #0A0B13;
	width: 100%;
}

#brandlink {
	color: white;
	font-weight: bold;
}